@layer components {
  .chessboard {
    @apply font-mono relative font-extrabold m-auto w-full aspect-square md:w-auto md:h-full;
  
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  
  .board {
    @apply absolute z-0 pointer-events-none;
  }
  
  .coordinates {
    @apply absolute z-10 pointer-events-none;
  
    text {
      fill: #0000007b;
    }
  }
  
  .hovered {
    @apply absolute box-content pointer-events-none;

    width: 12.5%;
    height: 12.5%;
    border: 5px solid #f0f0f0;
  }
  
  .selected {
    @apply absolute pointer-events-none z-20;

    width: 12.5%;
    height: 12.5%;
    background: #faf05d73;
  }
  
  .piece {
    width: 12.5%;
    height: 12.5%;
    cursor: grab;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 3;
    pointer-events: all;
    transition: all 0.2s ease-in-out;
  }
  
  .dragging {
    z-index: 4;
    cursor: grabbing;
  
    &:hover {
      pointer-events: none;
    }
  }
  
  .dragging-over {
    cursor: grabbing !important;
  
    .piece {
      cursor: grabbing !important;
    }
  }
  
  .element-pool {
    display: none;
  }
}
