@layer components {
    .menu {
        @apply pointer-events-none bg-neutral-200 fixed h-15 z-30 left-0 top-0 rounded-br-lg drop-shadow pb-2 max-w-xs;
        transition: height .2s ease-in-out;
        overflow: hidden;

        .sub-menu {
            @apply hidden flex-col text-sm sm:text-base font-medium gap-1.5 items-center mt-1;

            .sub-menu-item {
                @apply h-fit w-10/12 py-2 rounded bg-neutral-300 hover:bg-neutral-400 px-2;
            }

            &--is-active {
                @apply flex;
            }
        }

        .menu-header {
            @apply flex items-center h-15 pr-4;

            .menu-btn {
                @apply pointer-events-auto block bg-transparent cursor-pointer h-15 w-15 outline-none rounded-br relative hover:bg-neutral-300 transition-colors duration-200 ease-in-out;
                transition: background-color .2s ease-in-out;

                .line,
                .line::after,
                .line::before {
                    @apply pointer-events-none bg-neutral-700 rounded;
                    display: block;
                    height: 0.2rem;
                    width: 1.5rem;

                    @media (min-width: 640px) {
                        height: 0.25rem;
                        width: 1.5rem;
                    }
                }

                .line {
                    margin: 0 auto;
                    position: relative;
                    top: 0;
                    transition-delay: .2s;
                    transition-duration: 0s;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                    }

                    &::before {
                        margin-top: -8px;
                        transition-delay: .2s, 0s;
                        transition-duration: .2s;
                        transition-property: margin, transform;
                    }

                    &::after {
                        margin-top: 8px;
                        transition-delay: .2s, 0s;
                        transition-duration: .2s;
                        transition-property: margin, transform;
                    }
                }

                &--is-active {
                    .line,
                    .line::after,
                    .line::before {
                        @apply bg-neutral-700;
                    }

                    .line {
                        background-color: rgba(0, 0, 0, 0);
                        transition-delay: .1s;

                        &::before {
                            margin-top: 0;
                            transform: rotate(45deg);
                            transition-delay: 0s, .2s;
                        }

                        &::after {
                            margin-top: 0;
                            transform: rotate(-45deg);
                            transition-delay: 0s, .2s;
                        }
                    }
                }
            }

            .room-title {
                @apply text-lg/3 sm:text-xl/3 font-black capitalize decoration-neutral-700 pl-3 py-1 truncate;
            }
        }

        &--is-active {
            @apply pointer-events-auto h-49 sm:h-52;
        }
    }

    .status-menu {
        @apply pointer-events-none bg-neutral-200 fixed h-15 w-15 z-30 right-0 top-0 rounded-bl-lg drop-shadow max-w-xs;
        transition-property: width, height;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        transition: width .2s ease-in-out;
        overflow: hidden;

        .status-menu-header {
            @apply w-15 h-15 absolute top-0 right-0 flex justify-end items-center overflow-hidden;

            .status-refresh-btn {
                @apply absolute pointer-events-auto cursor-pointer h-15 w-15 hidden items-center justify-center;

                svg {
                    @apply h-5 w-5;
                }

                &--is-active {
                    @apply flex;
                }
            }

            .status-menu-btn {
                @apply absolute pointer-events-auto cursor-pointer rounded-bl h-15 w-15 flex items-center justify-center hover:bg-neutral-300 transition-colors duration-200 ease-in-out;

                .circle {
                    @apply h-8 w-8 rounded-full bg-red-400 flex items-center justify-center shadow-inner animate-pulse-brightness transition-all;
                    transition-duration: .2s;
                    transition-property: background-color;
                    transition-timing-function: ease-in-out;

                    .circle-inner {
                        @apply hidden font-black;
                    }
                }

                &--is-active {
                    .circle {
                        @apply bg-red-500;

                        .circle-inner {
                            @apply hidden;
                        }
                    }
                }

                &--is-online {
                    .circle {
                        @apply bg-green-400;

                        .circle-inner {
                            @apply flex;
                        }
                    }
                }

                &--is-online--is-active {
                    .circle {
                        @apply bg-green-500;

                        .circle-inner {
                            @apply flex;
                        }
                    }
                }
            }
        }

        .status-sub-menu {
            @apply fixed top-15 right-0 hidden flex-col text-xs overflow-y-scroll h-88 sm:text-sm font-medium w-52 sm:w-56;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                @apply hidden;
            }

            ul {

                li {
                    @apply h-8 px-4 flex justify-end items-center;

                    span {
                        @apply overflow-hidden rounded-l-full rounded-r-none bg-neutral-300 px-2 leading-6 h-6 truncate align-middle max-w-37 sm:max-w-41;
                    }

                    .status {
                        @apply h-6 w-7 bg-neutral-300 rounded-l-none rounded-r-full flex items-center justify-center px-2;

                        &::after {
                            @apply top-0 h-4 w-4 rounded-full px-2 animate-pulse-brightness;
                            content: '';
                        }

                        &--online {
                            &::after {
                                @apply bg-green-500;
                            }
                        }

                        &--offline {
                            &::after {
                                @apply bg-red-500;
                            }
                        }

                        &--away {
                            &::after {
                                @apply bg-yellow-500;
                            }
                        }
                    }

                }

                .current-user {
                    @apply fixed top-3.5 right-15 w-37 sm:w-41 pr-1 pl-4;

                    span {
                        @apply rounded-l-full rounded-r-none w-full;
                    }

                    button {
                        @apply h-6 w-7 bg-neutral-300 rounded-r-full flex items-center justify-center cursor-pointer px-2 hover:bg-neutral-400 transition-colors duration-200 ease-in-out;

                        svg {
                            @apply h-3 w-3;
                        }
                    }
                }
            }

            &--is-active {
                @apply flex;
            }
        }

        &--is-active {
            @apply pointer-events-auto w-52 sm:w-56;
        }
    }
}