@layer components {
    .chessboard {
        @apply relative m-auto aspect-square w-full font-mono font-extrabold sm:h-full sm:w-auto;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        touch-action: none;
    }

    .board {
        @apply pointer-events-none absolute z-0;
    }

    .coordinates {
        @apply pointer-events-none absolute z-10 w-full h-full;

        text {
            font-weight: 900;
            fill: #0000007b;
        }
    }

    .hovered {
        @apply pointer-events-none absolute box-content;

        width: 12.5%;
        height: 12.5%;
        border: 5px solid #f0f0f0;
    }

    .selected {
        @apply pointer-events-none absolute z-20;

        width: 12.5%;
        height: 12.5%;
        background: #faf05d73;
    }

    .piece {
        @apply z-30 absolute bg-90 bg-piece bg-no-repeat;

        width: 12.5%;
        height: 12.5%;
        cursor: grab;
        pointer-events: all;
        transition: all 0.2s ease-in-out;
    }

    .deleted {
        @apply relative;

        width: 6.25%;
        height: 100%;
    }

    .dragging {
        @apply z-40 cursor-grabbing;

        &:hover {
            @apply pointer-events-none;
        }
    }

    .dragging-over {
        cursor: grabbing !important;

        .piece {
            cursor: grabbing !important;
        }
    }

    .element-pool {
        display: none;
    }
}