:root {
  --piece-names: (dp, dr, dn, db, dq, dk, lp, lr, ln, lb, lq, lk);
  --piece-filenames: (dp, dr, dn, db, dq, dk, lp, lr, ln, lb, lq, lk); 
}

@each $piece, $filename in var(--piece-names), var(--piece-filenames) {
  .$(piece) {
    background-image: url('/static/chess/pieces/$(filename).svg');
  }
}